@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700&display=swap");

:root{
    --Very-Dark-Magenta: hsl(300, 43%, 22%);
    --Soft-Pink: hsl(333, 80%, 67%);

    ---Dark-Grayish-Magenta: hsl(303, 10%, 53%);
    --Light-Grayish-Magenta: hsl(300, 24%, 96%);
    --White: hsl(0, 0%, 100%);
}

html{ box-sizing: border-box; }

*, *::before, *::after{ box-sizing: inherit; }

body{    
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    font-family: 'Spartan', sans-serif;
    
    background-image: url(/images/bg-pattern-top-mobile.svg), url(/images/bg-pattern-bottom-mobile.svg);
    background-repeat: no-repeat, no-repeat;
    background-position: top 0vh left 2vw, bottom -1vh right 3vw;
}

h2{
    line-height: 2.5rem;
    font-size: 2rem;
    
    font-weight: 600;
    color: var(--Very-Dark-Magenta);
}

p{
    font-size: .9rem;
    font-weight: 500;
}

img{
    max-width: 100%;
}

.container{
    margin: 2rem 0 2rem 0;
    width: 90%;
}

.container-header{
    margin-bottom: 2rem;
}

.container-header p{
    line-height: 1.4rem;
    color: var(---Dark-Grayish-Magenta);
}

.card-rated-group{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 1rem;
    margin-bottom: 3rem;
}

.card-rated{
    padding: 1rem 0 1rem 0;
    border-radius: .6rem;
    background-color: var(--Light-Grayish-Magenta);
}

.card-rated p{
    color: var(--Very-Dark-Magenta);

    font-size: .8rem;
    font-weight: 600;
    margin: 0.5rem 0 0 0;
}

.card-review-group{
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}

.card-review{
    color: white;
    text-align: left;
    padding: 2.5rem 2.4rem 1rem 2rem;
    border-radius: .5rem;
    background-color: var(--Very-Dark-Magenta);
}

.review-header{
    display: flex;
    gap: 1.2rem;
    margin-bottom: 1.5rem;
}

.review-header-info p{
    margin: 0;
}

.review-header-img img{
    width: 2.3rem;
    border-radius: 50%;
}

.review-header-title{
    font-size: .9rem;
    font-weight: 500;
}

.review-header-paragraph{
    font-size: .9rem;
    font-weight: 300;
    color: var(--Soft-Pink);
}

.review-paragraph{
    color: var(--Light-Grayish-Magenta);
    line-height: 1.3rem;
    font-size: .8rem;
    font-weight: 400;
}

/* Desktop */

@media (min-width: 768px) {
    body{
        background-image: url(/images/bg-pattern-top-desktop.svg), url(/images/bg-pattern-bottom-desktop.svg);
        background-repeat: no-repeat, no-repeat;
        background-position: top 0vh left 2vw, bottom 0vh right 3vw;

        
    }

    h2{
        font-size: 3rem;
        line-height: 3rem;
        margin: 0;
    }


    .container{
        padding: 4rem;
        padding-bottom: 2rem;
    }

    
    .container-primary{
        display: grid;
        grid-template-columns: 2fr 2fr;
        column-gap: 5rem;
        
    }

    .container-header{
        text-align: left;
        padding-right: 4rem;
    }

    .container-header p{
        font-size: 1rem;
    }

    .card-rated-group{
        gap: 0rem;
    }

    .card-rated{
        display: flex;
        justify-content: center;
        column-gap: 1rem;
        align-items: center;
        padding-right: 1rem;
    }

    .card-rated:nth-child(1){
        margin-right: 8rem;
    }

    .card-rated:nth-child(2){
        margin-left: 4rem;
        margin-right: 4rem;
    }

    .card-rated:nth-child(3){
        margin-left: 8rem;
    }

    .card-rated p{
        margin: 0;
    }

    .card-review-group{
        margin-top: 1rem;
        flex-direction: row;
    }

    .card-review:nth-child(1){
        margin-bottom: 4rem;
    }

    .card-review:nth-child(2){
        margin-top: 2rem;
        margin-bottom: 2rem;
    }

    .card-review:nth-child(3){
        margin-top: 4rem;
    }
}