:root{
    --Very-Dark-Magenta: hsl(300, 43%, 22%);
    --Soft-Pink: hsl(333, 80%, 67%);

    ---Dark-Grayish-Magenta: hsl(303, 10%, 53%);
    --Light-Grayish-Magenta: hsl(300, 24%, 96%);
    --White: hsl(0, 0%, 100%);
}

html{ box-sizing: border-box; }

*, *::before, *::after{ box-sizing: inherit; }

body{
    
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    font-family: 'League Spartan', sans-serif;
}

h2{
    line-height: 2.5rem;
    font-size: 2.5rem;
    
    font-weight: 500;
    color: var(--Very-Dark-Magenta);
}

p{
    font-size: 1.1rem;
}

.container{
    margin: 2rem 0 2rem 0;
    width: 85%;
}

.container-header{
    margin-bottom: 2rem;
}

.container-header p{
    color: var(---Dark-Grayish-Magenta);
}

.card-rated{
    
}